* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-border: #4d4d52;
}

/* região do header */
.navbar-brand img {
  width: 40px;
  height: 30px;
}
.navbar-brand.mb-0.h1 {
  font: 400 1rem "Lobster", cursive;
  display: inline;
}
.navbar {
  padding: 0;
  border-bottom: 1px solid var(--color-border);
}
.navbar > .container-fluid {
  justify-content: center;
}
.nav {
  border-bottom: 0.4px solid var(--color-border);
}
/* carrossel */

.p-3 {
  padding: 0rem !important;
  margin-bottom: 2rem;
}

/* região do main */
/* main {
  padding: 1.5rem 3rem;
} */
/* .catalog {
  margin-top: 2rem;
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.item {
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #c0c2c5b2;
} */
.item img {
  width: 50%;
  object-fit: cover;
  display: block;
}
.details {
  padding: 1rem;
}
.details h2 {
  font-size: 0.8rem;
  z-index: 1;
  position: relative;
}
.tags {
  margin-top: 1.2rem;
}
.tags span {
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 0;
  background-color: #807477;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* região para o footer */
footer {
  /* display: flex;
  align-items: flex-end; */
  border-top: 0.4px solid var(--color-border);
}
.informacoes ul {
  display: inline-flex;
  list-style-type: none;
  margin-top: 1.5rem;

  gap: 10px;
}
.endereco ul {
  list-style-type: none;
  line-height: 1.5rem;
}
/* iframe {
  width: 500px;
  height: 450px;
  border: 1px solid red;
  margin-top: 2.5rem;
} */
#map {
  height: 100%;
}
gmp-map {
  margin-top: 2.5rem;
  width: 300px;
  height: 300px;
  padding-left: 4rem;
  /* border: 1px solid red; */
}

/* ------------------media querys------------------- */

@media (min-width: 52rem) {
  #carouselExampleAutoplaying {
    /* esse aqui usarei nos mediaquery */
    display: flex;
    width: 60%;
    margin: 0 auto;
  }
}
