* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-border: #4d4d52;
  --color-foots: #c1c1c28a;
}

/* região do header */
.navbar-brand img {
  width: 40px;
  height: 30px;
}
.navbar-brand.mb-0.h1 {
  font: 400 1rem "Lobster", cursive;
  display: inline;
}
.navbar {
  padding: 0;
}
.navbar > .container-fluid {
  justify-content: center;
}
.nav {
  border-bottom: 0.4px solid var(--color-border);
}
/* carrossel */

.p-3 {
  padding: 0rem !important;
  margin-bottom: 2rem;
}

/* região do main */

#about {
  margin: 0 30px;
  text-align: justify;
  font: 300 0.9rem "Rubik", sans-serif;
}
#about img {
  padding-left: 15px;
  max-height: fit-content;
}
.bd-example-cssgrid [class*="grid"] > * {
  background-color: #eccaca11;
  border: 1px solid var(--color-border);
  cursor: pointer;
}
.g-col-6.g-col-md-3 img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
}
.g-col-6.g-col-md-3 img:hover {
  scale: 1.04;
}
.details {
  padding: 1rem;
}
.details h2 {
  font-size: 0.8rem;
  z-index: 1;
  position: relative;
}
.tags {
  margin-top: 1.2rem;
}
.tags span {
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 0;
  background-color: #ada5a7b6;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.conteudoContact {
  display: flex;
  justify-content: center;
}
.formContact {
  margin-top: 3rem;
  width: 400px;
  height: 700px;
  display: flex;
  justify-content: center;
  max-height: 500px;
}
/* região para o footer */
footer {
  border-top: 0.4px solid var(--color-border);
  background-color: var(--color-foots);
}
.informacoes,
.endereco {
  display: flex;
  justify-content: center;
  font: 500 0.9rem "Rubik", sans-serif;
}
.informacoes ul {
  display: inline-flex;
  list-style-type: none;
  margin-top: 1.5rem;
  padding-left: 0rem;
  gap: 15px;
}
.endereco ul {
  list-style-type: none;
  line-height: 1.5rem;
  padding-left: 0rem;
}
#map {
  height: 100%;
}
gmp-map {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  width: 330px;
  height: 300px;
  padding-left: 2rem;
}
#voltarInicio {
  position: fixed;
  bottom: 0;
  right: 5px;
  background-color: #ada5a7b6;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
/* ------------------media querys------------------- */

@media (min-width: 52rem) {
  #carouselExampleRide {
    display: flex;
    width: 30%;
    margin: 0 auto;
    justify-content: center;
  }
  /* .carousel-inner {
    max-width: 35rem;
  } */
  .myCarsl {
    background-color: var(--color-foots);
  }
  #about {
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 0 5.5rem;
    gap: 6.25rem;
    font: 300 1rem "Rubik", sans-serif;
    line-height: 1.875rem;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  .informacoes,
  .endereco {
    display: flex;
    align-items: center;
  }
  .info-redes ul {
    gap: 50px;
  }
  gmp-map {
    margin-top: 2rem;
    width: 550px;
    height: 400px;
  }
  #voltarInicio {
    right: 25px;
    padding: 12px;
  }
}
