* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-border: #4d4d52;
}
/* região do header */
.navbar-brand img {
  width: 40px;
  height: 30px;
  /* align-items: center; */
}
.navbar-brand.mb-0.h1 {
  font: 700 1.5rem "Lobster", cursive;
  display: inline;
}
.navbar {
  padding: 0;
  border-bottom: 1px solid var(--color-border);
}
.navbar > .container-fluid {
  justify-content: center;
}
.nav {
  justify-content: center;
  border-bottom: 0.4px solid var(--color-border);
}

/* região para o footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
iframe {
  width: 500px;
  height: 450px;
  border: 1px solid red;
  margin-top: 2.5rem;
}
